header {
    background-color: blue;
}
main {
    background-color: aqua;
}

footer {
    background-color: aquamarine;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}