#reseñas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 2%;
    border-style: double;
} 

.card {
    border-style: solid;
    padding: 5%;
}

.card:hover {
    transform: translateY(-5px)
}

/* formulario grid */
.formu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: double;
}

/* secciones del formulario */
.f1 {
    /* importante volver a declarar display y distribucion de columnas, en sub categorias de css */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    gap: 5%;
    padding: 3%;
}

.subf1 {
    display: flex;
    flex-direction: column;
}

.f2 {
    display: grid;
    grid-column: 1 / 3;
    padding: 3%;
}

.f3 {
    /* pendiente de solucionar flex o grid? */
    display: flex;
    justify-content: end;
    padding-left: 5%;
    border-style: solid;
 
    
}
